@model List<DiaryModel>
	
	<div class="container">
	<div class="row pt-4">
		<div class="col-6"><a asp-controller="DiaryEnteries" asp-action="Create" class="btn btn-primary">Create new diary entry</a></div>
		<div class="col-6 text-end">
			<h2> Diary Enteries </h2>
		</div>
	</div>
</div>

<div class=table-responsive>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Content</th>
				<th>Date</th>
				<th>Actions</th>
			</tr>
		</thead>
<tbody>
	@foreach (var entry in Model)
	{
	<tr>
		<td>@entry.Title</td>
	    <td>@entry.Content</td>
		<td>@entry.Created</td>
					
		<td><a asp-controller="DiaryEnteries" asp-action="Edit" asp-route-id="@entry.Id" class="btn btn-primary btn-sm" >Edit</a>
		<a asp-controller="DiaryEnteries" asp-action="Delete" asp-route-id="@entry.Id" class="btn btn-primary btn-danger" >Delete</a>
		</td>
	</tr>
	}
</tbody>
	</table>
</div>
